<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @job.company.name %>
</p>

<p>
  <strong>Job description:</strong>
  <%= @job.job_description %>
</p>

<p>
  <strong>Employment type:</strong>
  <%= @job.employment_type %>
</p>

<p>
  <strong>Responsibilities:</strong>
  <%= @job.responsibilities %>
</p>

<p>
  <strong>Requirements:</strong>
  <%= @job.requirements %>
</p>

<%= link_to 'Back', company_jobs_path %>

<% if (current_user.role == 'admin') or (current_user.role == 'recruiter' and current_user.email == @job.user.email) %>
  <%= link_to 'Edit', edit_company_job_path(@job.company, @job) %>
  <%= link_to 'Destroy', company_job_path(@job.company, @job),  method: :delete, data: { confirm: 'Are you sure?' } =>
<% end %>

