<h1> Welcome to CSC517 P2 </h1>

<%= link_to 'Companies & Jobs', controller: 'companies' %>
<br>
<% if (current_user.role == 'recruiter' or current_user.role == 'admin') %>
<%= link_to 'New Company', new_company_path %>
  <% end %>
<br><br>

<%= link_to 'Job Search', jobsearch_path %>
<br>
<%= link_to 'Profile', current_user %>
<br>
<%= link_to 'User List', controller: 'users' %>
<br>
<%= link_to 'New User', new_user_path %>
<br><br>
<%= link_to 'Log Out', logout_path, method: :delete%>
