<%= form_for User.find(params[:id])  do |f| %>
  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </p>

  <p>
    <%= f.label :role %><br>
    <%= f.text_field :role %>
  </p>
 
  <p>
    <%= f.label :document %><br>  
    <%= f.file_field :document %>
  </p>
  <p><%= f.submit "Submit" %></p>

  <%= link_to 'Back',users_path %>  
<% end %>
