<h1>Listing Users</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Role</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.role %></td>

      <td><%= link_to 'Show', user_path(user) %></td>
      <td><%= link_to 'applications', user_applications_path(user)%></td>
    </tr>
  <% end %>
</table>
<br>
<%= link_to 'New user',new_user_path %>
