
<%= form_for @user, html: { multipart: true } do |f| %>

 <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>


  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>
  
  </p>
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  <p>
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </p>

  <p>
    <%= f.label :role %><br>
    <%= f.select :role, ["job-seeker","recruiter"] %>
  </p>

  <p>
    <%= f.label :company_id, "Company" %>
    <%= f.select :company_id,
                            Company.all.collect { |c| [c.name, c.id] },
                            { include_blank: true } %>
  </p>


   <p>
    <%= f.label :document, "Document (only PDF is allowed)" %><br>
    <%= f.file_field :document %>
 </p>

  <p><%= f.submit "Create" %></p>

  <%= link_to 'Back',users_path %>

<% end %>
