<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<p>
  <strong>Document:</strong>
<%= image_tag @user.document.url %>  
</p>

<% if current_user.role == 'admin' %>
  <%= link_to 'Destroy', user_path(@user),
                  method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<%= link_to 'Back', users_path %>
