<%- # print error message when saving fails -%>
    <% if @application.errors.any? %>
      <ul>
      <% @application.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    <% end %>

<%- # extract common template of new.html.erb & edit.html.erb to share with them instead of writing same code in them.-%>
    <%= f.label :applicant_id, "ID" %>
    <%= f.text_field :applicant_id %>

    <%= f.label :user_id_not_key, "User ID" %>
    <%= f.text_field :user_id_not_key %>

    <%= f.label :cur_company, "Current Company" %>
    <%= f.text_field :cur_company %>

    <%= f.label :linkedin_url, "Linkedin URL" %>
    <%= f.text_field :linkedin_url %>

    <%= f.label :portfolio_url, "Portfolio URL" %>
    <%= f.text_field :portfolio_url %>

    <%= f.label :add_info, "Additional Information" %>
    <%= f.text_field :add_info %>

    <%= f.label :gender, "Gender" %>
    <%= f.text_field :gender %>

    <%= f.label :race, "Race" %>
    <%= f.text_field :race %>

    <%= f.label :veteran_stat, "Veteran Status" %>
    <%= f.text_field :veteran_stat %>

    <%= f.label :disability_stat, "Disability Status" %>
    <%= f.text_field :disability_stat %>

    
