<ul>
<% @applications.each do |application| %>
	<li>
	  <%= application.name %>
	  <%= link_to 'show', company_application_path(@company, application) %>
	  <%= link_to 'edit', edit_company_application_path(@company, application) %>
	  <%= link_to 'destroy', company_application_path(@company, application),
	                            :method => :delete %>
	</li>
<% end %>

</ul>

	  <%= link_to 'new application', new_company_application_path(@company) %>
