<h1>Listing Companies</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Website</th>
    <th>Headquarters</th>
    <th>Size</th>
    <th>Founded</th>
    <th>Industry</th>
    <th>Revenue</th>
    <th>Synopsis</th>
  </tr>

  <% @companies.each do |company| %>
    <tr>
      <td><%= company.name %></td>
      <td><%= company.website %></td>
      <td><%= company.headquarters %></td>
      <td><%= company.size %></td>
      <td><%= company.founded %></td>
      <td><%= company.industry %></td>
      <td><%= company.revenue %></td>
      <td><%= company.synopsis %></td>
      <td><%= link_to 'Show', company_path(company) %></td>
      <td><%= link_to 'applications', company_applications_path(company) %></td>
    </tr>
  <% end %>
</table>
<br>
<%= link_to 'New Company', new_company_path %>
