<%= form_for @application, :url => company_job_application_path(@job.company, @job, @application), :html => { :method => :patch } do |f| %>

<% if (current_user.role == 'recruiter' and current_user.email == @job.user.email) or (current_user.role == 'admin')%>
    <p>
    <%= f.label :status %><br>
    <%= f.select :status, [ 'document received', 'in process', 'hired', 'not selected' ] %>
  </p>
  <% end %>


    <%= f.label :cur_company, "Current Company" %>
    <%= f.text_field :cur_company %>

    <%= f.label :linkedin_url, "Linkedin URL" %>
    <%= f.text_field :linkedin_url %>

    <%= f.label :portfolio_url, "Portfolio URL" %>
    <%= f.text_field :portfolio_url %>

    <%= f.label :add_info, "Additional Information" %>
    <%= f.text_field :add_info %>

    <%= f.label :gender, "Gender" %>
    <%= f.text_field :gender %>

    <%= f.label :race, "Race" %>
    <%= f.text_field :race %>

    <%= f.label :veteran_stat, "Veteran Status" %>
    <%= f.text_field :veteran_stat %>

    <%= f.label :disability_stat, "Disability Status" %>
    <%= f.text_field :disability_stat %>
    <br><br>
    <%= f.submit "Save" %>

<% end %>
<br>
<%= link_to 'Back', company_job_application_path(@job.company, @job, @application) %>
