<strong>Job Information:</strong><br/>
 
<%= "Description:" %>
<%= @application.job.job_description %><br/>
<%= "Employment Type:" %>
<%= @application.job.employment_type %><br/>
<%= "Responsibilities:" %>
<%= @application.job.responsibilities %><br/>
<%= "Requirements:" %>
<%= @application.job.requirements %><br/>

<strong>User Information:</strong><br/>
<%= "Name:" %>
<%= @application.user.name %><br/>
<%= "Email:" %>
<%= @application.user.email %><br/>
<%= "Phone:" %>
<%= @application.user.phone %><br/>
<%= "Role:" %>
<%= @application.user.role %><br/>
<%= "Document:" %><br/>
<%= image_tag @application.user.document.url %><br/>
<strong>Application Status:</strong><br/>
        <%= @application.status %><br/>

<strong>Application Information:</strong><br/>
  
<%= "Current Company:" %>
<%= @application.cur_company %><br/>
<%= "Linkedin URL:" %>
<%= @application.linkedin_url %><br/>
<%= "Portfolio URL:" %>
<%= @application.portfolio_url %><br/>
<%= "Additional Information:" %>
<%= @application.add_info %><br/>
<%= "Gender:" %>
<%= @application.gender %><br/>
<%= "Race:" %>
<%= @application.race %><br/>
<%= "Veteran Status:" %>
<%= @application.veteran_stat %><br/>
<%= "Disability Status:" %>
<%= @application.disability_stat %><br/>


<p><%= link_to 'Back', company_job_applications_path(@job.company, @job) %></p>

